html {
    height: 100%;
}

body {
    height: 720px;
    margin: 0;
    background-size: 120% auto;
    background-repeat: no-repeat;
}

button {
    cursor: pointer;
}

#image_div {
    margin: 0px;
    padding: 0px;
}

#back_image {
    height: 70%;
}

#image {
    position: absolute;
}

.balloon {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
}
  
.balloon:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #e0edff;
}
  
.balloon p {
    margin: 0;
    padding: 0;
}

#robot_image {
    width: 100%;
}