html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    /* background-size: contain; */
    background-repeat: no-repeat;
}


button {
  padding: 7px 20px;
  line-height:1.5;
  color: #fff;
  background-color: #33a6b8;
}

#image {
    position: absolute;
}

.balloon {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
}
  
.balloon:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #e0edff;
}
  
.balloon p {
    margin: 0;
    padding: 0;
}

#robot_image {
    width: 100%;
}